**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.csproj.user
**/*.dbmdl
**/*.jfm
**/*.log
**/bin
**/obj
**/TestResults
**/node_modules
Dockerfile*
docker-compose*
README.md
LICENSE
.env
